{% extends 'blogs/blog_base.html'%}
{% load my_tags %}

{% block content %}
<div class="row text-center justify-content-center">
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.title }}</h4>
            </div>
            <div class="card-body">
                <img class="img-fluid" src="{{ object.preview|media_filter }}" alt="{{ object.title }}">
            </div>
            <div class="card-body">
                <p>{{ object.content }}</p>
                <a class="p-2 btn btn-outline-danger" href="{% url 'blogs:delete' object.pk %}">Удалить</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}