{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}

<div class="row text-center">
    {% for category in object_list %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ category.name }}</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    {{ category.desc }}
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
